.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 90vh;
  overflow-y: auto;
  width: 90%;
  max-width: 850px;
}

.modal-content {
  padding: 24px;
}

.modal-header.green {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  border-radius: 8px 8px 0 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.full-width {
  flex: 1 1 100%;
}

.half-width {
  flex: 1 1 48%;
}

.third-width {
  flex: 1 1 30%;
}

.modal-footer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
}

.success-msg {
  color: green;
  font-weight: bold;
  margin-right: auto;
}

.full-width{
  width: 100%;
}

